/* frontend/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ваши кастомные стили можно добавлять ниже */
body {
  font-family: 'Inter', sans-serif;
}

/* Темная/светлая тема по умолчанию (как в Zenless Zone Zero) */
:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }
}

body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
}